<strong> Olá, {{ owner }} </strong>
<p>Você tem um novo inscrito para o seu meetup!</p>
<br />
<p>Confira as informações abaixo:</p>
<p>
  <strong>Nome: </strong> {{ userName }} <br />
  <strong>Email: </strong> {{ userEmail }} <br />
  <strong>Meetup: </strong> {{ meetupName }} <br />
  <strong>Data/Hora: </strong> {{ meetupDate }} <br />
  <strong>Local: </strong> {{ meetupLocation }} <br />
</p>
